<div class="star-wars" ng-show="!processing.processing">
  <h1 ng-show="!processing.processing">{{processing.resultText}}</h1>
  <div id="space">
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
  </div>
</div>

<p>This is the processing view.</p>

<h1 ng-show="processing.processing">Processing</h1>
<h1 ng-show="!processing.processing">Ready</h1>

{{processing.swapiData}}

{{processing.userFace}}
