
<p>This is the faceSettings view.</p>
<p ng-show="faceSettings.uid.length">Using face ID {{faceSettings.uid}}</p>
<p ng-show="!faceSettings.uid.length">Using manual entry</p>

<div class="row">
  <div class="col-sm-12">
    <face-form ng-show="faceSettings.ready" model="faceSettings.faceData"></face-form>
  </div>
</div>
<div class="row">
  <br />
  <div class="col-sm-12">
    <a ng-show="faceSettings.ready" ng-click="faceSettings.updateAndContinue()" class="btn btn-block btn-success">Continue</a>
  </div>
</div>
